bootstrapServers: 127.0.0.1:9092,127.0.0.1:9093,127.0.0.1:9094
schemaRegistryUrl: 127.0.0.1:8081
groupId: dumping-machine
topics:
- name: topic-1
  type: S3Uploader
  bucketName: bucket-1
  bucketRegion: us-east-1
  partitionForget: 3000
  hive:
      url: thrift://localhost:9083
      user: user
      password:
      recordTable: schema.table
      errorTable: schema.table_error
      tombstoneTable: schema.table_tombstone
- name: topic-2
  type: HDFSUploader
  hdfsURL: hdfs://hdfs-url/
  topicPath: /topics/
  coreSitePath: file://core-site.xml
  hdfsSitePath: file://hdfs-site.xml
  partitionForget: 3000
- name: topic-3
  type: S3Uploader
  bucketName: bucket-2
  bucketRegion: us-east-1
  partitionForget: 3000
  metadataPropertyName: kafka-information
